/* *{ border: 1px solid red; } */

:root{
  --color-base1:#282c34;
}




.title {
  color: white;
  background-color: var(--color-base1);
  min-height: 10vh;
}

#category_search{
  padding-top: 50px;
}

#panels{
  max-width: 75%;
  max-height: 700px;
  
  
}

.App {
  text-align: center;
  background-color: var(--color-base1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-base1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
